.waveText span {
  display: inline-block;
  font-size: 4rem;
  animation: wave 2s ease-in-out infinite;
  font-family: var(--font-cinzel);
  color: var(--color-primary);
}

.waveText span:nth-child(1) {
  animation-delay: 0s;
}
.waveText span:nth-child(2) {
  animation-delay: 0.2s;
}
.waveText span:nth-child(3) {
  animation-delay: 0.4s;
}
.waveText span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
