@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

.hero-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hero-carousel__viewport {
  width: 100%;
  height: 100%;
}

.hero-carousel__container {
  display: flex;
  height: 100%;
}

.hero-carousel__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.hero-carousel__slide__img_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-carousel__slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
}

.hero-carousel__slide--active .hero-carousel__slide__img {
  animation: zoomIn 6s linear forwards;
}
